<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="PXService.NetStandard.Services.SampleService">
        <endpoint address="" binding="basicHttpBinding" contract="PXService.NetStandard.Services.ISampleService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
