@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">@ViewBag.ErrorTitle</h2>

<p>
    @ViewBag.UserErrorMessage
</p>
<p>
    @ViewBag.DeveloperErrorMessage
</p>