<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <General>
    <UserAgent>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36</UserAgent>
  </General>
  <Environments>
    <Default>
      <!--The Port Number for the Login server that you want to authenticate the user against.  This is usually used in a Passport One Box enviroment-->
      <LoginPortNumber></LoginPortNumber>

      <!-- The Auth params for the current deployment -->
      <Current_LoginPOSTURLRegEx><![CDATA[srf_uPost='.+?']]></Current_LoginPOSTURLRegEx>
      <Current_LoginPOSTURLKey>srf_uPost</Current_LoginPOSTURLKey>
      <Current_PPFTRegEx><![CDATA[PPFT".+?value=.+?"]]></Current_PPFTRegEx>
      <Current_PPFTKey>value</Current_PPFTKey>
      <Current_PPFTNewRegEx><![CDATA[srf_sFT='.+?']]></Current_PPFTNewRegEx>
      <Current_PPFTNewKey>srf_sFT</Current_PPFTNewKey>
      <Current_PPSXRegEx><![CDATA[,M:.+?']]></Current_PPSXRegEx>
      <Current_PPSXKey>M</Current_PPSXKey>
      <Current_LoginFormURLRegEx><![CDATA[<form.?name=".="+".+?action=.+?"]]></Current_LoginFormURLRegEx>
      <Current_LoginFormURLKey>action</Current_LoginFormURLKey>

      <!-- The Auth params for the next deployment -->
      <Next_LoginPOSTURLRegEx><![CDATA[urlPost:'.+?']]></Next_LoginPOSTURLRegEx>
      <Next_LoginPOSTURLKey>urlPost</Next_LoginPOSTURLKey>
      <Next_PPFTRegEx><![CDATA[PPFT.*value=.+?"]]></Next_PPFTRegEx>
      <Next_PPFTKey>value</Next_PPFTKey>
      <Next_PPSXRegEx><![CDATA[,M:.+?']]></Next_PPSXRegEx>
      <Next_PPSXKey>M</Next_PPSXKey>
      <Next_LoginFormURLRegEx><![CDATA[form.?name="".=""+"".+?action=.+?""]]></Next_LoginFormURLRegEx>
      <Next_LoginFormURLKey>action</Next_LoginFormURLKey>
    </Default>
    <INT>
      <!--The URL to account services in MSN -->
      <MSNURL>https://msn-int.com</MSNURL>
      <!-- The domain of the msn cookies -->
      <MSNDomain>.msn-int.com</MSNDomain>
      <!--The live doman-->
      <LiveDomain>.live-int.com</LiveDomain>
      <!--The live login domain-->
      <LoginLiveDomain>.login.live-int.com</LoginLiveDomain>
      <!--The URL to the RPSNetwork XML -->
      <RPSNetwork4>https://nexus.passport-int.com/Public/Partner/RPSNetwork4.xml</RPSNetwork4>
      <!--The RPSNetwork XML cached file name-->
      <RPSNetwork4FileName>nexus.passport_int.com_Public_Partner_RPSNetwork4.xml</RPSNetwork4FileName>
      <!--The URL to the Login server that you want to authenticate the user against-->
      <LoginURL>https://login.live-int.com</LoginURL>
      <!--The URL to the Login server that you want to authenticate the user against-->
      <SSLLoginURL>https://login.live-int.com</SSLLoginURL>
    </INT>
    <OneBoxINT>
      <!-- The domain of the msn cookies -->
      <MSNDomain>.msn-int.com</MSNDomain>
      <!--The live doman-->
      <LiveDomain>.live-int.com</LiveDomain>
      <!--The live login domain-->
      <LoginLiveDomain>.login.live-int.com</LoginLiveDomain>
      <!--The URL to the RPSNetwork XML -->
      <RPSNetwork4>https://nexus.passport-int.com/Public/Partner/RPSNetwork4.xml</RPSNetwork4>
      <!--The RPSNetwork XML cached file name-->
      <RPSNetwork4FileName>nexus.passport_int.com_Public_Partner_RPSNetwork4.xml</RPSNetwork4FileName>
      <!--The URL to the Login server that you want to authenticate the user against-->
      <LoginURL>https://login.live-int.com</LoginURL>
      <!--The Port Number for the Login server that you want to authenticate the user against.  This is usually used in a Passport One Box enviroment-->
      <LoginPortNumber>44329</LoginPortNumber>
      <!--The URL to the Login server that you want to authenticate the user against-->
      <SSLLoginURL>https://login.live-int.com</SSLLoginURL>
    </OneBoxINT>
    <TST>
      <!-- The domain of the msn cookies -->
      <MSNDomain>.msn-tst.com</MSNDomain>
      <!--The live doman-->
      <LiveDomain>.live-tst.com</LiveDomain>
      <!--The live login domain-->
      <LoginLiveDomain>.login.live-tst.com</LoginLiveDomain>
      <!--The URL to the RPSNetwork XML -->
      <RPSNetwork4>https://nexus.passport-tst.com/Public/Partner/RPSNetwork4.xml</RPSNetwork4>
      <!--The RPSNetwork XML cached file name-->
      <RPSNetwork4FileName>nexus.passport_tst.com_Public_Partner_RPSNetwork4.xml</RPSNetwork4FileName>
      <!--The URL to the Login server that you want to authenticate the user against-->
      <LoginURL>https://login.live-tst.com</LoginURL>
      <!--The Port Number for the Login server that you want to authenticate the user against.  This is usually used in a Passport One Box enviroment-->
      <LoginPortNumber>44329</LoginPortNumber>
      <!--The URL to the Login server that you want to authenticate the user against-->
      <SSLLoginURL>https://login.live-tst.com</SSLLoginURL>
    </TST>
    <Func>
      <!-- The domain of the msn cookies -->
      <MSNDomain>.msn-tst.com</MSNDomain>
      <!--The live doman-->
      <LiveDomain>.live-tst.com</LiveDomain>
      <!--The live login domain-->
      <LoginLiveDomain>.login.live-tst.com</LoginLiveDomain>
      <!--The URL to the RPSNetwork XML -->
      <RPSNetwork4>https://nexus.passport-tst.com/Public/Partner/RPSNetwork4.xml</RPSNetwork4>
      <!--The RPSNetwork XML cached file name-->
      <RPSNetwork4FileName>nexus.passport_tst.com_Public_Partner_RPSNetwork4.xml</RPSNetwork4FileName>
      <!--The URL to the Login server that you want to authenticate the user against-->
      <LoginURL>https://login.live-tst.com</LoginURL>
      <!--The Port Number for the Login server that you want to authenticate the user against.  This is usually used in a Passport One Box enviroment-->
      <LoginPortNumber></LoginPortNumber>
      <!--The URL to the Login server that you want to authenticate the user against-->
      <SSLLoginURL>https://login.live-tst.com</SSLLoginURL>
    </Func>
    <Production>
      <!--The URL to account services in MSN -->
      <MSNURL>https://msn.com</MSNURL>
      <!-- The domain of the msn cookies -->
      <MSNDomain>.msn.com</MSNDomain>
      <!--The live doman-->
      <LiveDomain>.live.com</LiveDomain>
      <!--The live login domain-->
      <LoginLiveDomain>.login.live.com</LoginLiveDomain>
      <!--The URL to the RPSNetwork XML -->
      <RPSNetwork4>https://nexus.passport.com/Public/Partner/RPSNetwork4.xml</RPSNetwork4>
      <!--The RPSNetwork XML cached file name-->
      <RPSNetwork4FileName>nexus.passport.com_Public_Partner_RPSNetwork4.xml</RPSNetwork4FileName>
      <!--The URL to the Login server that you want to authenticate the user against-->
      <LoginURL>https://login.live.com</LoginURL>
      <!--The URL to the Login server that you want to authenticate the user against-->
      <SSLLoginURL>https://login.live.com</SSLLoginURL>
    </Production>
    <SampleNodes>
      <!--The URL to the Login server that you want to authenticate the user against-->
      <LoginURL>https://login.live-int.com</LoginURL>
      <!--The Port Number for the Login server that you want to authenticate the user against.  This is usually used in a Passport One Box enviroment-->
      <LoginPortNumber>44329</LoginPortNumber>
    </SampleNodes>
  </Environments>
</Configuration>